---
import Settings from "../settings.json";

import "../styles/index.css";

interface Props {
  title: string;
  metaTitle: string;
  metaDescription?: string;
}

const { title, metaTitle, metaDescription } = Astro.props;
---

<html lang={Settings.language}>
  <head>
    <meta charset="utf-8" />

    <meta property="og:title" content={metaTitle} />
    {
      metaDescription != undefined && (
        <meta property="og:description" content={metaDescription} />
      )
    }

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <style>
      @font-face {
        font-family: "Nunito_Sans";
        src: url("/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
          format("truetype");
      }
    </style>

    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto max-w-xl lg:max-w-2xl py-12 px-4">
      <slot />
    </div>
  </body>
</html>
